.column {
  width: 200px;
  float: left;
  margin: 100px
}

.column2 {
  width: 200px;
  float: left;
  margin: 100px
}

.column3 {
  width: 200px;
  float: left;
  margin: 100px
}






/*.photos
img {
  width: 30%;
  margin: 5px;
  padding: 5px;
}

.column {
width: 30px;
float: left;*/

  /*.column {
  width: 300px;
  float: left;
}*/
